In [1]:
!ln -s /Users/andrescrucettanieto/Documents/GitHub/missing_data_project/utils/utils.py utils.py

In [2]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics.pairwise import nan_euclidean_distances
import utils

In [3]:
toys = pd.read_csv("../data/toy_data.csv")
X = toys.drop(["Output Value 1"], axis=1)
y = toys["Output Value 1"]

In [4]:
bikesy, bikesX = utils.read_in(utils.bike_file_path)
Xobs, Omega = utils.create_matrix(bikesX, keepcols=['instant', 'dteday'])

   Numerical A  Numerical B Categorical C Categorical D
0         1.13        26.96             A             Y
1         0.82        42.44             B             N
2         2.32        25.67             B             N
3         3.22        56.57             A             N
4         6.29        34.34             B             Y
5         8.45        17.81             B             N
6         5.43         3.13             A             Y
7         6.39        45.22             A             N
8         7.14        83.38             A             N